In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

In [3]:
train_df = train_df.drop(['Unnamed: 0', 'index'], axis=1)
test_df = test_df.drop(['Unnamed: 0', 'index'], axis=1)

In [4]:
# Convert categorical data to numeric and separate target feature for training data
train_df_dum = pd.get_dummies(train_df)
train_df_dum_X = train_df_dum.drop(['loan_status_low_risk', 'loan_status_high_risk'], axis=1)
train_df_dum_y = train_df_dum['loan_status_low_risk'].values

In [5]:
train_df_dum_X

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,13375.0,0.1797,483.34,223000.0,29.99,0.0,0.0,15.0,0.0,39728.0,...,0,1,0,1,1,0,1,0,1,0
1,21000.0,0.1308,478.68,123000.0,11.26,2.0,0.0,16.0,0.0,9585.0,...,0,1,0,1,1,0,1,0,1,0
2,20000.0,0.1240,448.95,197000.0,11.28,0.0,0.0,12.0,0.0,16708.0,...,0,1,0,1,1,0,1,0,1,0
3,3000.0,0.1240,100.22,45000.0,18.08,0.0,0.0,12.0,1.0,8809.0,...,0,1,0,1,1,0,1,0,1,0
4,30000.0,0.1612,1056.49,133000.0,27.77,0.0,2.0,13.0,0.0,65420.0,...,0,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,19975.0,0.2565,801.09,28000.0,28.42,0.0,0.0,15.0,0.0,9679.0,...,0,1,0,1,1,0,1,0,1,0
12176,15000.0,0.1774,540.34,50000.0,23.43,4.0,0.0,16.0,0.0,3193.0,...,1,1,0,1,1,0,1,0,1,0
12177,3600.0,0.1862,131.28,60000.0,28.80,0.0,1.0,14.0,0.0,11804.0,...,0,1,0,1,1,0,1,0,1,0
12178,15000.0,0.0881,475.68,62000.0,11.44,0.0,0.0,5.0,0.0,157.0,...,0,1,0,1,0,1,1,0,1,0
12179,15000.0,0.1774,540.34,54080.0,21.66,1.0,1.0,5.0,0.0,8349.0,...,0,1,1,0,1,0,1,0,1,0

In [6]:
train_df_dum_y

array([1, 1, 1, ..., 0, 0, 0], dtype=uint8)

In [7]:
# Convert categorical data to numeric and separate target feature for testing data
test_df_dum = pd.get_dummies(test_df)
test_df_dum_X = test_df_dum.drop(['loan_status_low_risk', 'loan_status_high_risk'], axis=1)
test_df_dum_y = test_df_dum['loan_status_low_risk'].values

In [8]:
# add missing dummy variables to testing set
test_df_dum_X['debt_settlement_flag_Y'] = 0

In [9]:
test_df_dum_X

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,verification_status_Verified,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,40000.0,0.0819,814.70,140000.0,19.75,0.0,1.0,18.0,0.0,9471.0,...,0,1,0,1,1,0,1,0,1,0
1,6000.0,0.1524,208.70,55000.0,11.52,2.0,0.0,8.0,0.0,1280.0,...,0,1,0,1,1,0,1,0,1,0
2,3600.0,0.1695,128.27,42000.0,6.74,0.0,0.0,6.0,0.0,4757.0,...,0,1,0,1,1,0,1,0,1,0
3,20000.0,0.1524,478.33,100000.0,12.13,0.0,2.0,7.0,0.0,12731.0,...,0,1,0,1,1,0,1,0,1,0
4,3600.0,0.1240,120.27,50000.0,16.08,0.0,3.0,6.0,0.0,10413.0,...,0,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,30000.0,0.1240,673.42,140480.0,15.74,0.0,0.0,20.0,0.0,23215.0,...,0,1,1,0,1,0,1,0,1,0
4698,24000.0,0.0756,747.22,50000.0,26.81,0.0,0.0,9.0,0.0,459.0,...,0,1,0,1,1,0,1,0,1,0
4699,10000.0,0.2305,387.36,33000.0,38.51,0.0,2.0,7.0,0.0,6342.0,...,1,1,1,0,1,0,1,0,1,0
4700,8000.0,0.1862,205.86,38000.0,16.36,0.0,1.0,8.0,1.0,11636.0,...,0,1,0,1,1,0,1,0,1,0
4701,30000.0,0.2055,1123.34,180000.0,12.06,0.0,0.0,8.0,0.0,4771.0,...,0,1,1,0,1,0,1,0,1,0

In [10]:
# Train the Logistic Regression model on the unscaled data and print the model score
from sklearn.linear_model import LinearRegression

reg = LinearRegression()
reg.fit(train_df_dum_X, train_df_dum_y)

LinearRegression()

In [11]:
print(type(reg).__name__)
print('Train Score: {}'.format(reg.score(train_df_dum_X, train_df_dum_y)))
print('Test Score: {}'.format(reg.score(test_df_dum_X, test_df_dum_y)))

LinearRegression
Train Score: 0.13776343583850648
Test Score: -5435635824.439722

In [12]:
# Train a Random Forest Classifier model and print the model score
from sklearn.ensemble import RandomForestClassifier

emsb = RandomForestClassifier(random_state=1)
emsb.fit(train_df_dum_X, train_df_dum_y)

RandomForestClassifier(random_state=1)

In [13]:
print(type(emsb).__name__)
print('Train Score: {}'.format(emsb.score(train_df_dum_X, train_df_dum_y)))
print('Test Score: {}'.format(emsb.score(test_df_dum_X, test_df_dum_y)))

RandomForestClassifier
Train Score: 1.0
Test Score: 0.6544023819651212

In [17]:
# Scale the data
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(train_df_dum_X)

train_df_dum_X_scaled = scaler.transform(train_df_dum_X)
test_df_dum_X_scaled = scaler.transform(test_df_dum_X)

In [20]:
# Train the Logistic Regression model on the scaled data and print the model score
reg_scaled = LinearRegression()
reg_scaled.fit(train_df_dum_X_scaled, train_df_dum_y)

LinearRegression()

In [22]:
print(type(reg).__name__)
print('Train Score: {}'.format(reg_scaled.score(train_df_dum_X_scaled, train_df_dum_y)))
print('Test Score: {}'.format(reg_scaled.score(test_df_dum_X_scaled, test_df_dum_y)))

LinearRegression
Train Score: 0.13769197545889256
Test Score: -2.2048928012828407e+30

In [23]:
# Train a Random Forest Classifier model on the scaled data and print the model score
emsb_scaled = RandomForestClassifier(random_state=1)
emsb_scaled.fit(train_df_dum_X_scaled, train_df_dum_y)

RandomForestClassifier(random_state=1)

In [24]:
print(type(emsb_scaled).__name__)
print('Train Score: {}'.format(emsb_scaled.score(train_df_dum_X_scaled, train_df_dum_y)))
print('Test Score: {}'.format(emsb_scaled.score(test_df_dum_X_scaled, test_df_dum_y)))

RandomForestClassifier
Train Score: 1.0
Test Score: 0.6548277328796257