In [1]:
import numpy as np
import pandas as pd
from pathlib import Path

In [2]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))

In [3]:
train_df = train_df.drop(['Unnamed: 0', 'index'], axis=1)

In [10]:
# Convert categorical data to numeric and separate target feature for training data
train_df_dum = pd.get_dummies(train_df)
train_df_dum_X = train_df_dum.drop(['loan_status_low_risk', 'loan_status_high_risk'], axis=1)
train_df_dum_y = train_df_dum[['loan_status_low_risk', 'loan_status_high_risk']]

       loan_status_low_risk  loan_status_high_risk
0                         1                      0
1                         1                      0
2                         1                      0
3                         1                      0
4                         1                      0
...                     ...                    ...
12175                     0                      1
12176                     0                      1
12177                     0                      1
12178                     0                      1
12179                     0                      1

[12180 rows x 2 columns]

In [ ]:
test_df = test_df.drop(['Unnamed: 0', 'index'], axis=1)

In [ ]:
# Convert categorical data to numeric and separate target feature for testing data
test_df_dum = pd.get_dummies(test_df)
test_df_dum['debt_settlement_flag_Y'] = 0
test_df_dum

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,loan_status_low_risk,pymnt_plan_n,initial_list_status_f,initial_list_status_w,application_type_Individual,application_type_Joint App,hardship_flag_N,hardship_flag_Y,debt_settlement_flag_N,debt_settlement_flag_Y
0,40000.0,0.0819,814.70,140000.0,19.75,0.0,1.0,18.0,0.0,9471.0,...,1,1,0,1,1,0,1,0,1,0
1,6000.0,0.1524,208.70,55000.0,11.52,2.0,0.0,8.0,0.0,1280.0,...,1,1,0,1,1,0,1,0,1,0
2,3600.0,0.1695,128.27,42000.0,6.74,0.0,0.0,6.0,0.0,4757.0,...,1,1,0,1,1,0,1,0,1,0
3,20000.0,0.1524,478.33,100000.0,12.13,0.0,2.0,7.0,0.0,12731.0,...,1,1,0,1,1,0,1,0,1,0
4,3600.0,0.1240,120.27,50000.0,16.08,0.0,3.0,6.0,0.0,10413.0,...,1,1,0,1,1,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4697,30000.0,0.1240,673.42,140480.0,15.74,0.0,0.0,20.0,0.0,23215.0,...,0,1,1,0,1,0,1,0,1,0
4698,24000.0,0.0756,747.22,50000.0,26.81,0.0,0.0,9.0,0.0,459.0,...,0,1,0,1,1,0,1,0,1,0
4699,10000.0,0.2305,387.36,33000.0,38.51,0.0,2.0,7.0,0.0,6342.0,...,0,1,1,0,1,0,1,0,1,0
4700,8000.0,0.1862,205.86,38000.0,16.36,0.0,1.0,8.0,1.0,11636.0,...,0,1,0,1,1,0,1,0,1,0
4701,30000.0,0.2055,1123.34,180000.0,12.06,0.0,0.0,8.0,0.0,4771.0,...,0,1,1,0,1,0,1,0,1,0

In [ ]:
for i in range(len(train_df_dum.columns)):
    if train_df_dum.columns[i] in test_df_dum.columns:
        pass
    else:
        print(train_df_dum.columns[i])

debt_settlement_flag_Y

In [ ]:
# add missing dummy variables to testing set

In [ ]:
# Train the Logistic Regression model on the unscaled data and print the model score

In [ ]:
# Train a Random Forest Classifier model and print the model score

In [ ]:
# Scale the data

In [ ]:
# Train the Logistic Regression model on the scaled data and print the model score

In [ ]:
# Train a Random Forest Classifier model on the scaled data and print the model score